.heading {
    background: #fff;
    border-bottom: 1px solid #eee;
    height: 60px;
    line-height: 60px;
    padding: 0 10px;
}
.listings {
    height: 100%;
    overflow: auto;
    padding-bottom: 60px;
}
.listings .item {
    display: block;
    border-bottom: 1px solid #eee;
    padding: 10px;
    text-decoration: none;
}
.listings .item:last-child { border-bottom: none; }
.listings .item .level-title {
    display: block;
    color: #00853e;
    font-weight: 700;
}
.listings .item .level-title small { font-weight: 400; }
.listings .item.active .level-title,
.listings .item .level-title:hover { color: #8cc63f; }

.listings .item.active {
    background-color: #f8f8f8;
}
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-left: 0;
    background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-track {
    background: none;
}
::-webkit-scrollbar-thumb {
    background: #00853e;
    border-radius: 0;
}
.clearfix { display: block; }
.clearfix::after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
